.footer-info{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 100px;

  &-rights{
    font-size: 20px;
    color: $blackBgcPrimary;
  }

  &-menu{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 24px;
  }
}