$whitePrimary: #fff;
$blackPrimary: #000;
$bluePrimary: #3E86F5;
$blackBgcPrimary: rgba(0,0,0,0.5);
$mobileBgcPrimary: rgba(0,0,0,0.9);

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
);